# ==========================================================
# Node.js
# ==========================================================

node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================================
# Sistema Operacional
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# VS Code
# ==========================================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ==========================================================
# Ambiente
# ==========================================================

.env
.env.local
.env.*

# ==========================================================
# Coverage
# ==========================================================

coverage/

# ==========================================================
# Biome
# ==========================================================

.biome